## API SECRET KEY is for Authorization header
API_SECRET_KEY=RANDOM_STRING

OPENAI_API_KEY=sk-proj-...
GEMINI_MODEL=gemini-2.5-pro-exp-03-25
GOOGLE_GENERATIVE_AI_API_KEY=AI..

## Optional — search functionality is DISABLED so you can ignore this
FIRECRAWL_API_KEY=fc-...

DATABASE_URL=file:./sqlite.db
NODE_ENV=development
APP_BASE_URL=http://localhost:3000

## Optional — telemetry is DISABLED so you can ignore this
LANGFUSE_BASEURL=https://cloud.langfuse.com
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
 